/* Projects.css */

.projects-section {
  margin: 70px;
  margin-top: 40px;
  margin-bottom: 100px;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-box {
  margin: 30px;
  background-color: #e0e0e0;
  padding: 20px;
  width: 400px; /* Fixed width for each box */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.project-box ul {
  padding-left: 20px;
  margin: 0;
}

.project-box ul li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
  line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .projects-section {
    margin: 50px;
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .section-title {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .project-box {
    width: 300px; /* Adjusted width for smaller screens */
  }

  .project-title {
    font-size: 1.25rem;
  }

  .project-box ul li {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .projects-section {
    margin: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .section-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .project-box {
    width: 250px; /* Further adjusted width for smaller screens */
  }

  .project-title {
    font-size: 1.1rem;
  }

  .project-box ul li {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .projects-section {
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .section-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .project-box {
    width: 100%; /* Full-width boxes for mobile screens */
    margin: 10px 0; /* Adjusted margins */
  }

  .project-title {
    font-size: 1rem;
  }

  .project-box ul li {
    font-size: 0.7rem;
  }
}
