/* Timeline.css */
.timeline-segment {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.timeline-segment:hover {
  background-color: #f0f0f0; /* Change background color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.timeline-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px; /* Added height to maintain aspect ratio */
}

.timeline-content {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.timeline-title {
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.timeline-time {
  color: #888;
  margin-bottom: 10px;
}

.timeline-description {
  line-height: 1.5;
  display: none; /* Initially hide description */
}

.timeline-segment:hover .timeline-description {
  display: block; /* Show description on hover */
}

.timeline-tags {
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .timeline-segment {
      padding: 15px;
      margin-bottom: 15px;
  }

  .timeline-icon {
      width: 40px;
      height: 40px; /* Adjust height accordingly */
  }

  .timeline-title {
      font-size: 1.1rem;
  }

  .timeline-time {
      font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .timeline-segment {
      padding: 10px;
      margin-bottom: 10px;
      flex-direction: column; /* Stack items vertically on smaller screens */
      align-items: flex-start; /* Align items to the start */
  }

  .timeline-icon {
      width: 30px;
      height: 30px; /* Adjust height accordingly */
  }

  .timeline-title {
      font-size: 1rem;
  }

  .timeline-time {
      font-size: 0.8rem;
  }

  .timeline-description {
      font-size: 0.9rem; /* Adjust description font size */
  }
}

@media (max-width: 480px) {
  .timeline-segment {
      padding: 5px;
      margin-bottom: 5px;
  }

  .timeline-icon {
      width: 25px;
      height: 25px; /* Adjust height accordingly */
  }

  .timeline-title {
      font-size: 0.9rem;
  }

  .timeline-time {
      font-size: 0.7rem;
  }

  .timeline-description {
      font-size: 0.8rem; /* Adjust description font size */
  }
}
