/* WorkExperience.css */

.section {
  margin: 70px;
  margin-top: 40px;
  margin-bottom: 100px;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.experience-box {
  margin: 30px;
  background-color: #f0f0f0;
  padding: 20px;
  width: 400px; /* Fixed width for each box */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.experience-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.experience-date {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 15px;
}

.experience-box ul {
  padding-left: 20px;
  margin: 0;
}

.experience-box ul li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
  line-height: 1.6;
}
